$baseColors: (
	black: #141519,
	light-gray: #d8dcdf,
	gray: #636363,
	dark-gray: #2d2d2d,
	white: #fff,
	red: #e74c3c,
	orange: #f98311,
	yellow: #e2d015,
	green: #29cc4b,
	blue: #4e85fb,
	purple: #9e15cc
);
$colors: ();

@each $color, $hex in $baseColors {
	$variance: 30;
	
	@for $i from 1 through 4 {
		$percent: $variance - (($variance / 4) * ($i - 1));
		$lightShade: $i * 100;
		$darkShade: (10 - $i) * 100;
		
		@debug #{$color}-#{$lightShade};
		
		$colors: map-merge($colors, (
			#{$color}-#{$lightShade}: lighten($hex, $percent),
			#{$color}-#{$darkShade}: darken($hex, $percent)
		));
	}
	
	$colors: map-merge($colors, (#{$color}-50: lighten($hex, 40)));
	$colors: map-merge($colors, (#{$color}-#{500}: $hex));
}

@function color($name, $shade: 500) {
	@return map-get($colors, "#{$name}-#{$shade}")
}

@each $color, $value in $colors {
	.bg-#{$color} {
		background-color: $value;
	}
	
	.text-#{$color} {
		color: $value;
	}
}