/* Grid
** Only divs allowed
** Reference: https://medium.com/p/e5c7cc9d28e */

$grid-gutter: 15px; // test 15px, move back to 30px if test not working
$grid-columns: 12;

// Gutter has -g suffix
div.grid {
	&, &-g {
		display: flex;
		flex-flow: row wrap;
		
		&.align-center {
			align-items: center;
		}
		
		&.align-bottom {
			align-items: flex-end;
		}
	}
	
	&-g {
		margin-left: calc($grid-gutter / -2);
		margin-right: calc($grid-gutter / -2);
	}
}

@for $i from $grid-columns through 1 {
	$property: unquote("#{unquote('.gi-')}#{$i}");
	$property-push: unquote("#{unquote('.grid-push-')}#{$i}");
	$property-push-r: unquote("#{unquote('.grid-push-r-')}#{$i}");
	$property-push-lr: unquote("#{unquote('.grid-push-lr-')}#{$i}");
	$width: percentage(calc($i / $grid-columns));
	
	div#{$property} {
		// grow | shrink | basis
		//flex: 0 0 $width;
		flex-basis: $width;
	}
	
	// automatically add gutters
	div.grid-g > div#{$property} {
		padding-left: calc($grid-gutter / 2);
		padding-right: calc($grid-gutter / 2);
	}
	
	// Push Feature
	@include breakpoint(tablet-large, 'min-width') {
		/* Add padding for grid items instead of margin to
		** since they have already padding */
		div[class^="gi-"], div[class~="grid"] {
			&#{$property-push} {
				margin-left: $width;
			}
			
			&#{$property-push-r} {
				margin-right: $width;
			}
			
			&#{$property-push-lr} {
				margin-left: $width;
				margin-right: $width;
			}
		}
		
		/* Use padding rather than margin to avoid
		** sizing problems with gutter grids */
		div[class~="grid-g"] {
			&#{$property-push} {
				padding-left: $width;
			}
			
			&#{$property-push-r} {
				padding-right: $width;
			}
			
			&#{$property-push-lr} {
				padding-left: $width;
				padding-right: $width;
			}
		}
	}
}