@import '../config';

$border-size: 2px;

.contact {
	//@include gradient(#4a3380, #61ddf2);
	
	&, & > .row {
		height: 100%;
	}
	
	input, textarea, button {
		background-color: transparent;
		margin-bottom: 20px;
		border: 0;
		border-bottom: $border-size solid $black;
		border-radius: 0;
		
		&:not(button) {
			padding: 13px;
			font-weight: 500;
		}
	}
	
	textarea {
		border: $border-size solid;
		min-height: 120px;
	}
	
	.input:not(.input-textarea) {
		
	}
	
	h2 {
		margin-bottom: 30px;
		font-weight: 900;
		letter-spacing: $letter-spacing;
		position: relative;
		
		&:after {
			content: '';
			background-color: $black;
			width: 8px;
			position: absolute;
			top: -2px;
			bottom: -2px;
			right: 0;
		}
	}
	
	button {
		color: $white;
		width: auto;
		background-color: $black;
		border: 0;
		padding: 12px 30px;
		font-weight: 800;
		transition: .1s ease-in-out;
		
		&:hover {
			background-color: $theme-color;
		}
	}
	
	.image i {
		background: 
		linear-gradient(
			transparent 0%,
			rgba(0, 0, 0, .1) 80%
		),
		url(/assets/i/noise.png),
		url(/assets/i/planets-final.png) center/cover;
		width: 100%;
		display: block;
	}
	
	.image, .image i {
		height: 100%;
	}
	
	.links {
		width: 50%;
		position: absolute;
		bottom: 30px;
		font-size: type-scale(0);
		text-align: center;
		
		li {
			margin: 10px;
			display: inline-block;
			
			a {
				color: $black;
				
				@each $brand, $color in $social-media-colors {
					&[data-service="#{$brand}"]:hover {
						color: $color;
					}
				}
			}
		}
	}
}