@import '../config';

.landing {
	position: relative;
	overflow: hidden;
	
	.line {
		background-color: $orange;
		width: 40px;
		height: 4px;
		margin: 12px 0 14px;
	}
	
	h1 {
		font-size: 6em;
		font-weight: 900;
	}
	
	.title {
		font-size: 3.6em;
		font-weight: 300;
		
		> span {
			font-weight: 400;
			letter-spacing: -.1em;
		}
	}
	
	h1, .title {
		background-color: #fff;
		padding: 4px 16px;
		display: inline-block;
	}
	
	a[href="/gallery"] {
		color: $black;
		font-size: 1.4em;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	
	.container {
		height: 100%;
		background-color: #f7f7f7;
		position: relative;
		
		.background {
			width: 100%;
			height: 100%;
			background-image: url(/compiled/i/bkg.svg);
			background-position: center;
			background-size: cover;
			position: absolute;
			
			.border {
				position: absolute;
				top: 45px;
				right: 45px;
				bottom: 45px;
				left: 45px;
				
				$border-size: 8px;
				$spacing: 20px;
				
				&:before, &:after {
					content: '';
					border-color: #000;
					position: absolute;
				}
				
				&:before {
					border-top: $border-size solid;
					border-bottom: $border-size solid;
					left: $spacing;
					right: $spacing;
					top: 0;
					bottom: 0;
				}
				
				&:after {
					border-left: $border-size solid;
					border-right: $border-size solid;
					top: $spacing;
					bottom: $spacing;
					left: 0;
					right: 0;
				}
			}
		}
		
		> .row {
			height: 100%;
			display: flex;
			align-items: center;
		}
	}
}