@import '../config';
main .content > section.landing {
	overflow: hidden;
}

.landing {
	.background {
		width: 115%;
		height: 115%;
		margin-top: -7.5%;
		margin-left: -7.5%;
		position: absolute;
		
		&.hero {
			background-image: url(/compiled/i/hero-img.jpeg);
			background-size: cover;
			background-position: center;
			filter: blur(1.5px);
		}
		
		&.overlay {
			background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,.6) 75%,rgba(0,0,0,.8) 100%);
		}
		
		&.broken-pattern {
			background-image: url(/compiled/i/broken-pattern.svg);
			background-size: contain;
			width: 57.5%;
		}
	}
	
	.align-wrap {
		width: 100%;
	}
	
	ui.hamburger {
		background-color: #fff;
		border-radius: 100%;
		position: absolute;
		top: 80px;
		left: 80px;
		transition: transform .2s ease-in-out;
		
		&:hover {
			background-color: darken(#fff, 10%);
			box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
		}
	}
	
	.name {
		h1 {
			padding: 10px 16px;
			font-size: 6em;
			font-weight: 900;
			line-height: .85em;
		}
		
		.title {
			color: #fff;
			font-size: 3.3em;
			font-style: italic;
			font-weight: 200;
			line-height: 1.2em;
			
			> * {
				background-color: $orange;
				padding: 10px 16px;
				display: table;
				
				&:nth-child(2) {
					margin-top: -10px;
				}
			}
		}
	}
	
	.nav-btn {
		background-color: #fff;
		padding: 12px;
		position: relative;
		display: block;
		
		&:before {
			content: '';
			background-image: url(/compiled/i/chevron-right.svg);
			background-position: center;
			background-repeat: no-repeat;
			width: 24px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 8px;
		}
		
		span {
			margin-right: 20px;
			font-size: 1.6em;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: .02em;
		}
		
		& > * {
			color: $black;
			vertical-align: middle;
		}
	}
	
	> .row {
		height: 100%;
		display: flex;
		align-items: center;
	}
}