@import '../config';
main .content > section.landing {
	overflow: hidden;
}

.landing {
	.heading--serif {
		color: $dark-gray;
		line-height: 1em;
	}
	
	$bg-blue: #546dfd;
	$bg-orange: #f1bb5c;
	
	.background {
		background-color: $bg-blue;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	
	.grid {
		width: 80%;
		height: 100%;
		position: absolute;
		left: 10%;
		z-index: 1;
		
		.column {
			background-color: rgba(0, 0, 0, .1);
			width: 1px;
			height: 100%;
			position: absolute;
			
			@for $i from 0 through 7 {
				&:nth-child(#{$i + 1}) {
					left: percentage($i / 6);
				}
			}
		}
	}
	
	section.hero {
		height: 100%;
		background: url(/assets/i/noise.png);
		
		> .wrap {
			width: 80%;
			height: 100%;
			margin: auto;
			position: relative;
			
			@include breakpoint(tablet-large) {
				& {
					width: 90%;
				}
			}
		}
		
		.stripe {
			background: $bg-orange url(/assets/i/noise.png);
			width: 100%;
			height: 100%;
			position: absolute;
			transform: skew(-25deg);
		}
		
		.shape {
			opacity: .2;
		}
		
		.name {
			color: $white;
			position: relative;
			z-index: 2;
			
			.page {
				font-size: type-scale(2);
				letter-spacing: .06em;
				line-height: 1;
				position: absolute;
				top: -55px;
				left: -25%;
			}
			
			h1 {
				font: 600 10.2em/1em "PT Serif";
		    letter-spacing: .03em;
				position: relative;
			}
			
			.title {
				padding-left: 1em;
				font-size: 2.4em;
				font-weight: 300;
				line-height: 1.2em;
				position: relative;
				top: 14px;
				left: 25%;
				
				&:before {
					content: '';
					width: 25%;
					height: 1px;
					background-color: $white;
					position: absolute;
					left: -25%;
					top: 50%;
				}
			}
		}
		.nav-btn {
			$nav-btn-size: 150px;
			
			position: relative;
			
			a {
				color: $black;
				background-color: #fff;
				width: $nav-btn-size;
				padding: 15px;
				padding-right: 35px;
				position: relative;
				font-size: 1.6em;
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: $letter-spacing;
				line-height: 1.1em;
				z-index: 2;
				
				&:after {
					content: '';
					background-image: url(/assets/i/chevron-right.svg);
					background-position: center;
					background-repeat: no-repeat;
					width: 24px;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 8px;
				}
			}
			
			&:before {
				content: '';
				width: $nav-btn-size;
				height: 100%;
				border: 4px solid $theme-color;
				position: absolute;
				top: -12px;
				left: -18px;
				z-index: 1;
			}
			
			a, &:before {
				float: left;
			}
		}
	}
	
	section.about {
		padding: 120px 0;
		
		.wrap {
			height: 240px;
			display: grid;
			grid-column-gap: 48px;
			grid-template-areas: 'heading text' 'number text';
			grid-template-columns: 1fr 1fr;
			
			> * {
				position: relative;
			}
			
			&:before {
				content: '';
				background: url(/assets/i/blue-brush-stroke.png) center/contain no-repeat;
				width: 340px;
				height: 108px;
				position: absolute;
				top: calc(50% - 54px);
				left: calc(50% - 277px);
				transform: rotate(-30deg);
			}
		}
		
		.heading--serif {
			text-align: right;
			grid-area: heading;
		}
		
		.number {
			position: relative;
			grid-area: number;
			
			&:before {
				content: '';
				background-color: $theme-color;
				width: 1px;
				height: 100%;
				position: absolute;
				right: 0;
			}
			
			span {
				margin-right: 42px;
				line-height: 1em;
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
		
		p {
			color: $gray;
			font-size: 1.8em;
			grid-area: text;
			position: relative;
		}
	}
	
	section.featured {
		.list {
			column-count: 3;
			column-gap: 15px;
			
			img {
				width: 100%;
			}
		}
	}
}