.portfolio {
	$spacing: 20px;
	
	img {
		width: 100%;
	}
	
	.hero {
		height: 30vh;
		
		.headings {
			margin-left: 60px;
			
			h1 {
				font-weight: 900;
			}
			
			p {
				font-size: 1.6em;
				letter-spacing: .05em;
			}
		}
	}
	
	.projects-grid {
		margin-bottom: -$spacing; // hide last item's margin
		column-count: 2;
		column-gap: $spacing;
		
		.project {
			margin-bottom: $spacing;
		}
	}
}