@import 'mixins';

$black: #141519;
$light-gray: #f7f7f7;
$gray: #808080;
$dark-gray: #665f5b;
$white: #fff;
$red: #e74c3c;
$orange: #f98311;
$blue: #09192d;
$purple: #6244bb;

$base-font-size: 1.5em;
$theme-color: $orange;
$letter-spacing: .08em;
$border-radius: 4px;

$type-scale: ();
$type-scale-ratio: 1.618; // fibonacci
$type-scale-base: $base-font-size;

//15      ts(0)
//24.27   ts(1)
//39.26   ts(2)
//63.53   ts(3)
//102.8   ts(4)
//166.33  ts(5)
//269.13  ts(6)

@function type-scale($steps) {
	@if $steps == 0 {
		@return $type-scale-base;
	}
	
	$type-scale-result: $type-scale-base;
	
	@for $i from 1 through $steps {
		$type-scale-result: $type-scale-result * $type-scale-ratio;
	}
	
	@return round($type-scale-result * 20) / 20; // round to the nearest hundredth
}

$icon-prefix: 'fa';

$breakpoints: (
	phone-small: 320px, // 200px
	phone: 375px, // 300px
	phone-large: 425px, // 350px
	
	tablet-small: 580px, // 400px
	tablet-medium: 700px, // 530px
	tablet: 768px, // 650px
	tablet-large: 860px, // 700px
	
	laptop: 1024px, // 780px
	laptop-medium: 1200px, // 900px
	laptop-large: 1440px, // 1050px
	
	desktop-small: 1600px, // 1300px
	desktop: 1920px, // 1400px
	
	4k: 2560px
);

$bp-phone-s: 320px;
$bp-phone: 375px;
$bp-phone-l: 425px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-laptop-l: 1440px;
$bp-desktop-s: 1600px;
$bp-desktop: 1920px;
$bp-4k: 2560px;

$social-media-colors: (
	facebook: #3a5795,
	messenger: #0084ff,
	twitter: #55acee,
	github: #333,
	google-plus: #d34836,
	reddit: #ff4500,
	tumblr: #529ecc,
	instagram: #4c68d7
);