@import 'base';
@import 'ui';
@import 'util';
@import 'config';

@import 'pages/landing';
@import 'pages/portfolio';
@import 'pages/contact';
@import 'pages/contact-redirect';

::selection {
	color: $white;
	background-color: transparentize($black, .4);
}

body {
	color: $black;
	background-color: $white;
	font-family: 'Raleway', Helvetica, sans-serif;
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
}

button {
	color: $white;
	background-color: $black;
	border-radius: $border-radius;
	padding: 12px 18px;
	font-size: type-scale(0);
	font-weight: bold;
}

main {
	height: 100vh;
	padding: 25px;
	padding-top: 0;
	
	.content {
		background-color: $light-gray;
		height: calc(100% - 70px);
		position: relative;
		
		> section:not(.hero) {
			width: 80%;
			margin: auto;
			position: relative;
			z-index: 1;
			
			&, > .row {
				//min-height: 100%;
			}
		}
	}
}

nav {
	background-color: #fff;
	height: 70px;
	padding: 0 30px;
	line-height: 70px;
	
	.logo {
		display: inline-block;
		vertical-align: middle;
	}
	
	ul {
		float: right;
		
		li {
			line-height: 1;
			display: inline-block;
			
			&:not(:last-child) {
				margin-right: 10px;
			}
			
			&.active a {
				color: $theme-color;
				cursor: default;
			}
			
			&:hover:not(.active) a {
				color: #fff;
				background-color: $black;
			}
			
			a {
				color: $black;
				padding: 8px 10px;
				font-weight: 700;
				letter-spacing: .08em;
			}
		}
	}
}

.error-page {
	flex-direction: column;
	justify-content: center;
	
	.text {
		background-image: radial-gradient(at 50% 80%, #47c2eb 0, #3df58a 100%);
		font-size: 30em;
		font-weight: 900;
		line-height: 1em;
		letter-spacing: -.04em;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.align-wrap {
	height: 100%;
	display: flex;
	align-items: center;
}

.heading--serif {
	font-weight: 400;
	letter-spacing: -.02em;
	font-family: "PT Serif";
}

.number {
	color: $theme-color;
	font-size: type-scale(3);
	font-weight: 200;
	text-align: right;
	letter-spacing: -.05em;
}

// icons
[class*="icon-"] {
	background-size: contain;
	height: inherit;
}

.icon- {
	
	&chevron-right {
		background-image: url(/assets/i/chevron-right.svg);
		width: 24px;
		height: 24px;
	}
}