@import 'base';
@import 'ui';
@import 'util';
@import 'config';

@import 'pages/landing';
@import 'pages/portfolio';
@import 'pages/contact';

body {
	color: $black;
	background-color: $white;
	font-family: 'Raleway', Helvetica, sans-serif;
}

button {
	color: $white;
	background-color: $black;
	border-radius: $border-radius;
	padding: 12px 18px;
	font-size: 1.5em;
	font-weight: bold;
}

main {
	height: 100vh;
	padding: 25px;
	padding-top: 0;
	
	.content {
		background-color: $gray;
		height: calc(100% - 60px);
		overflow-x: hidden;
		overflow-y: auto;
		
		> section {
			position: relative;
			//overflow-y: auto;
			
			&, > .row {
				min-height: 100%;
			}
		}
	}
}

nav {
	background-color: #fff;
	height: 70px;
	padding: 0 30px;
	line-height: 70px;
	
	.logo {
		display: inline-block;
		vertical-align: middle;
	}
	
	ul {
		font-size: 1.1em;
		float: right;
		
		li {
			display: inline-block;
			
			&:not(:last-child) {
				margin-right: 10px;
			}
			
			&.active a {
				color: $theme-color;
				cursor: default;
			}
			
			&:hover:not(.active) a {
				color: #fff;
				background-color: $black;
			}
			
			a {
				color: $black;
				padding: 8px 10px;
				font-weight: 700;
				letter-spacing: .08em;
			}
		}
	}
}

.align-wrap {
	height: 100%;
	display: flex;
	align-items: center;
}

// icons
[class*="icon-"] {
	background-size: contain;
	height: inherit;
}

.icon- {
	
	&chevron-right {
		background-image: url(/assets/i/chevron-right.svg);
		width: 24px;
		height: 24px;
	}
}